@import url('https://fonts.googleapis.com/css2?family=josefin+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    min-height: 100vh;
    width: 100%;
    background: #16330014;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card {
    width: 550px;
    height: 330px;
    color: #fff;
    cursor: pointer;
    perspective: 1000px;
    margin-top: 15px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front, .back {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #80e14247, #4682B4);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    backface-visibility: hidden;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.map-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
}

.card-no {
    font-size: 35px;
    margin-top: 60px;
}

.card-holder {
    font-size: 12px;
    margin-top: 40px;
}

.name {
    font-size: 22px;
    margin-top: 20px;
}

.bar {
    background: #222;
    margin-left: -30px;
    margin-right: -30px;
    height: 60px;
    margin-top: 10px;
}

.card-cvv {
    margin-top: 20px;
}

.card-cvv div {
    flex: 1;
}

.card-cvv img {
    width: 100%;
    display: block;
    line-height: 0;
}

.card-cvv p {
    background: #fff;
    color: #000;
    font-size: 22px;
    padding: 10px 20px;
}

.card-text {
    margin-top: 30px;
    font-size: 14px;
}

.signature {
    margin-top: 30px;
}

.back {
    transform: rotateY(180deg);
}

.card:hover .card-inner {
    transform: rotateY(-180deg);
}

.input-group input{
    padding: 10px;
    width: 380px;
    border-radius: 3px;
    border: 1px solid #c9cbce;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 15px;
}
.input-group input:focus{
    border: 1px solid #111;
    
}
.input-group .btn{
    padding: 10px;
    background-color: #9fe870;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.input-group .btn:hover{
    background-color: #80e142;
}
.error-msg{
    color: red;
    text-align: center;
    padding-bottom: 10px;
}
.success-msg{
    color: green;
    text-align: center;
    padding-bottom: 10px;
}
.showed{display: block;}
.hidden{display: none;}
h1{
    color: #0e0f0c;
    padding-bottom: 20px;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 992px){
    .input-group input{
        width: 350px;
        margin: auto 200px;
    }
    .card{
        width: 350px;
        height: 250px;
        margin: auto 200px;
    }
    .card-no {
        font-size: 18px;
        margin-top: 30px;
    }
    .name p{
        font-size : 15px;
    }
    .input-group .btn{
        margin-left: 320px;
        margin-bottom: 50px;
    }
    h1{
        font-size: 20px;
    }
}

